@model HRNUG.ViewModels.HomeViewModel
<section class="padding-5px" id="events">
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">We Are Moving!</h2>
                <p class="margin-top">
                    Starting <b>January 10th</b>, all HRNUG meetings will be held at Issuetrak, 6160 Kempsville Circle, Norfolk, VA 23502.  Please use the enterance that faces Kempsville Road.  Once you go
                    in the doors, the room is the first door on the left.
                    
                </p>
                <div class="text-center" style="height:275px">
                    <a href="https://www.google.com/maps/place/6160+Kempsville+Circ,+Norfolk,+VA+23502" target="_blank"><img src="~/Images/issuetrak_building.png" alt="Issuetrak Building" /></a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Upcoming Events</h2>
                @if (Model.Events != null && Model.Events.Any())
                {
                    foreach (var ev in Model.Events)
                    {
                        <div class="event">
                            <h4>@ev.Title</h4>
                            <p>
                                @ev.DateTime.ToString("ddd, MMM d h:mm tt")
                                <a class="btn btn-sm btn-success pull-right" href="@ev.Link" target="_blank">RSVP</a>
                            </p>
                        </div>
                    }
                }
                else if (!String.IsNullOrEmpty(Model.Error))
                {
                    <p>@Model.Error</p>
                }
                else
                {
                    <p>There are no events currently scheduled...</p>
                }
                <p class="text-center margin-top">
                    We meet the <span class="bold">2nd Tuesday</span> of every month at <a href="http://www.infotectraining.com/" target="_blank">Infotec</a>.<br />
                    <br />
                    100 Constitution Drive<br />
                    Virginia Beach, VA 23462<br />
                </p>
                <div class="text-center">
                    <a href="https://www.google.com/maps/place/100+Constitution+Dr,+Virginia+Beach,+VA+23462" target="_blank"><img src="~/Images/Infotec-Map.png" alt="Infotec Map" /></a>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Stay in Touch</h2>
                <div id="slack">
                    <h4>Have You Heard of Slack?</h4>
                    <p>
                        Slack is a great way to chat real-time with local developers in various chat rooms. Think of IRC on steroids :-)
                    </p>
                    <p>To get access to <b>757 Dev Slack</b>, send us an <a href="mailto:john.hadzima@hrnug.org">email</a> and we'll get you setup.</p>
                    @*<a href="http://757dev.org/" target="_blank" title="Slack" class="btn btn-primary">Join the 757 Dev Slack!</a>*@
                </div>
                <div id="twitterWidget">
                    <!-- Twitter Widget -->
                    <a class="twitter-timeline" href="https://twitter.com/hrnug" data-widget-id="624314999394201600">Tweets by @@hrnug</a>
                    <script>
                        !function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                            if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + "://platform.twitter.com/widgets.js";
                                fjs.parentNode.insertBefore(js, fjs);
                            }
                        }(document, "script", "twitter-wjs");
                    </script>
                </div>
            </div>
        </div>
    </div>
</section>