<section id="info">
    <div class="container body-content">
        <div class="row text-center">
            <h2>Meeting Info</h2>
            <p>
                We are a group of developers in the area who are dedicated to expanding our knowledge of technology and growing our network of professional relationships. We offer meetings on a variety of subjects and we welcome developers of any skill level and any programming language. All of the meetings are free and open to the public, so bring an IT friend or student to spark their interest. HRNUG isn't just for .NET developers so bring along any of your technology skills, job postings or training opportunities and come learn, network and have fun!
            </p>
        </div>
        <div class="row text-center" id="speakers">
            <h2>Speaking at HRNUG</h2>
            <p>
                HRNUG has been providing amazing .NET speakers and content since founded by <a target="_blank" href="https://twitter.com/1kevgriff" class="yellow">Kevin Griffin</a> in 2009 and we are always open to speakers of any level to engage with our users. We would love to have you present to our local community and invite you to speak during one of our monthly presentations. We have an average of 20-30 attendees at our meetings and are an INETA accredited user group.
</p>
            <p>
                If interested, please send an <a href="mailto:john.hadzima@hrnug.org" class="yellow">email</a> to meeting organizer <a target="_blank" href="https://twitter.com/JohnHadzima" class="yellow">John Hadzima</a> with the month you would like and a few topics we can choose from.
</p>
        </div>
    </div>
</section>

