<section id="sponsors">
    <div class="container body-content">
        <div class="row text-center">
            <h2>People That Make This Happen</h2>
        </div>
        <div class="row margin-top">
            <div class="col-md-3">
                <a href="http://www.teksystems.com/" target="_blank"><img src="/Images/Sponsors/TEK-Logo.jpg" class="sponsorLogo" alt="TEKSystems Logo" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.primerica.com/public/primerica-investments.html" target="_blank"><img src="/Images/Sponsors/PFS-Logo.jpg" class="sponsorLogo" alt="PFS Logo" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.apexsystemsinc.com/" target="_blank"><img src="/Images/Sponsors/Apex-Logo.png" class="sponsorLogo" alt="Apex Logo" /></a>
            </div>
            <div class="col-md-3">
                <a href="http://www.marathonus.com/" target="_blank"><img src="/Images/Sponsors/Marathon-Logo.png" class="sponsorLogo" alt="Marathon Logo" /></a>
            </div>
        </div>
        <div class="row margin-top">
            <div class="col-md-2 col-md-offset-2">
                <a href="https://www.jetbrains.com/" target="_blank"><img src="/Images/Sponsors/JetBrains-Logo.jpeg" class="sponsorLogo" alt="JetBrains Logo" /></a>
            </div>
            <div class="col-md-2">
                <a href="http://www.pluralsight.com/" target="_blank"><img src="/Images/Sponsors/PluralSight-Logo.png" class="sponsorLogo" alt="Pluralsight Logo" /></a>
            </div>
            <div class="col-md-2">
                <a href="http://www.telerik.com/" target="_blank"><img src="/Images/Sponsors/Telerik-Logo.jpeg" class="sponsorLogo" alt="Telerik Logo" /></a>
            </div>
            <div class="col-md-2">
                <a href="http://www.codemag.com/magazine" target="_blank"><img src="/Images/Sponsors/CodeMag-Logo.png" class="sponsorLogo" alt="CodeMag Logo" /></a>
            </div>
        </div>
        <div class="row margin-top">
            <div class="col-md-2 col-md-offset-2">
                
            </div>
            <div class="col-md-2">
                <a href="http://www.aspose.com/" target="_blank"><img src="/Images/Sponsors/Aspose-Logo.jpg" class="sponsorLogo" alt="Aspose Logo" /></a>
            </div>
            <div class="col-md-2">
                <a href="https://timemachinefor.net/" target="_blank"><img src="/Images/Sponsors/TimeMachine-Logo.png" class="sponsorLogo" alt="TimeMachine Logo" /></a>
            </div>
            <div class="col-md-2">
                
            </div>
        </div>
        <div class="row margin-top">
            <div class="col-md-6 col-md-offset-3 text-center" id="whySponsor">
                <h3>Why Sponsor HRNUG?</h3>
                <p>
                    Members are always looking for new and exciting opportunities. When we are approached by a member, looking for a new job, tools or training, we always direct them to our sponsors.
                </p>
                <p>
                    When you sponsor our meetings, you’ll gain access to scores of local developers. A company active in our community stands out above all others.
                </p>
                <p>
                    Our weekly meeting invitations and announcements reach over 300 developers. It’s a perfect opportunity for us to help promote your product or services.
                </p>
                <p>
                    Email <a href="mailto:john.hadzima@hrnug.org">john.hadzima@hrnug.org</a> for more info.
                </p>
            </div>
        </div>
    </div>
</section>


