<section id="sponsors">
    <div class="container body-content">
        <div class="row text-center">
            <h2>People That Make This Happen</h2>
        </div>
        <div class="row margin-top">
            <div class="col-md-2 col-md-offset-1">
                <img src="/Images/Sponsors/TEK-Logo.jpg" class="sponsorLogo" alt="TEKSystems Logo"/>
            </div>
            <div class="col-md-2">
                <img src="/Images/Sponsors/UDig-Logo.jpg" class="sponsorLogo" alt="UDig Logo"/>
            </div>
            <div class="col-md-2">
                <img src="/Images/Sponsors/CRT-Logo.jpg" class="sponsorLogo" alt="CRT Logo"/>
            </div>
            <div class="col-md-2">
                <img src="/Images/Sponsors/Vaco-Logo.png" class="sponsorLogo" alt="Vaco Logo"/>
            </div>
            <div class="col-md-2">
                <img src="/Images/Sponsors/Marathon-Logo.png" class="sponsorLogo" alt="Marathon Logo"/>
            </div>
        </div>
        <div class="row margin-top">
            <div class="col-md-1">
                <img src="/Images/Sponsors/CodeSmith-Logo.jpeg" class="sponsorLogo" alt="Codesmith Logo"/>
            </div>
            <div class="col-md-1">
                <img src="/Images/Sponsors/Github-Logo.jpeg" class="sponsorLogo" alt="Github Logo"/>
            </div>
            <div class="col-md-1">
                <img src="/Images/Sponsors/Infragistics-Logo.jpeg" class="sponsorLogo" alt="Infragistics Logo"/>
            </div>
            <div class="col-md-1">
                <img src="/Images/Sponsors/JetBrains-Logo.jpeg" class="sponsorLogo" alt="JetBrains Logo"/>
            </div>
            <div class="col-md-1">
                <img src="/Images/Sponsors/OReilly-Logo.jpeg" class="sponsorLogo" alt="Oreilly Logo"/>
            </div>
            <div class="col-md-1">
                <img src="/Images/Sponsors/PluralSight-Logo.jpeg" class="sponsorLogo" alt="Pluralsight Logo"/>
            </div>
            <div class="col-md-1">
                <img src="/Images/Sponsors/Telerik-Logo.jpeg" class="sponsorLogo" alt="Telerik Logo"/>
            </div>
            <div class="col-md-1">
                <img src="/Images/Sponsors/NCover-Logo.jpeg" class="sponsorLogo" alt="NCover Logo"/>
            </div>
            <div class="col-md-1">
                <img src="/Images/Sponsors/Apress-Logo.jpeg" class="sponsorLogo" alt="Apress Logo"/>
            </div>
            <div class="col-md-1">
                <img src="/Images/Sponsors/Syncfusion-Logo.jpeg" class="sponsorLogo" alt="Syncfusion Logo"/>
            </div>
            <div class="col-md-1">
                <img src="/Images/Sponsors/WintellectNow-Logo.jpeg" class="sponsorLogo" alt="WintellectNow Logo"/>
            </div>
            <div class="col-md-1">
                <img src="/Images/Sponsors/Nevron-Logo.jpeg" class="sponsorLogo" alt="Nevron Logo"/>
            </div>
        </div>
        <div class="row margin-top" >
            <div class="col-md-6 col-md-offset-3 text-center" id="whySponsor">
                <h3>Why Sponsor HRNUG?</h3>
                <p>
                    Members are always looking for new and exciting opportunities. When we are approached by a member, looking for a new job, tools or training, we always direct them to our sponsors.
                </p>
                <p>
                    When you sponsor our meetings, you’ll gain access to scores of local developers. A company active in our community stands out above all others.
                </p>
                <p>
                    Our weekly meeting invitations and announcements reach over 300 developers. It’s a perfect opportunity for us to help promote your product or services.
                </p>
                <p>
                    Email <a href="mailto:john.hadzima@hrnug.org">john.hadzima@hrnug.org</a> for more info.
                </p>
            </div>
        </div>
    </div>
</section>


